body{
    background-image: url("/img/1.jpg");
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
#navbar a {
    text-decoration: none;
}
#logo {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    font-size: 50px;
}
#logo a {
    text-decoration: none;
}
#navbar button {
    color: white;
    border-radius: 5px;
    border: solid black 2px;
    background-color: transparent;
    height: 30px;
    width: 60px;
}
#navbar {
    text-align: end;
    align-items: center;
    background: transparent;
    padding: 10px;
    /* display: grid; */
    /* grid-template-columns: auto auto; */
}
#links {
    text-align: center;
}
#links a {
    color: white;
    margin-left: 10px;
}
#user {
    text-align: end;
}

/*-------------------------------------------------------------*/
#content {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 330px 330px 330px;
    justify-content: space-evenly;
}
#content a {
    text-decoration: none;
    color: black;
}

.category {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 190, 190, 0.632);
    border-radius: 8px;
    margin-bottom: 30px;
}

