<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findMY-notes</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="navbar">
        <div id="logo">
            <a href=""><span style="color: red;">find</span> <span style="color: white; font-weight: bold;">MY-NOTEs</span></a>
        </div>
        <div id="links">
            <a href="#">Notes</a>
            <a href="">My Notes</a>
        </div>
        <div id="user">
            <% if (username) { %> <!-- Check if username exists -->
                <button><%= username %></button> <!-- Display username in the button -->
                <a href="/logout"><button>Log Out</button></a> <!-- Log Out button -->
            <% } else { %>
                <a href="/signIn"><button>Sign In</button></a>
            <% } %>
        </div>
        
    </div>

    <div id="content">
        <a href="/cs">
            <div class="category">
                <p>Computer Sciene</p>
            </div>
        </a>
        <div class="category">
            <p>Civil Engineering</p>
        </div>
        <div class="category">
            <p>Electrical Engineering</p>
        </div>
        <div class="category">
            <p>Electronic Engineering</p>
        </div>
        <div class="category">
            <p>Architecture</p>
        </div>
    </div>
</body>
</html>
